{% extends 'base.html' %}
{% block content %}

    <div id="index">
        <div class="Title">
            <img src="http://markdowntc.wanqqq29.cn/Sdyu_logo.png" >
            <br><br>
            <h1>山东青年政治学院</h1>
            <br>
            <h3>出国人员管理登记系统</h3>
            <h8>&copy; 山东青年政治学院 国际交流合作处</h8>
        </div>
        <div class="no">
            <div class="map">
                <div class="chart"></div>
                <div class="map1"></div>
                <div class="map2"></div>
                <div class="map3"></div>
            </div>
        </div>
    </div>

{% endblock %}

